@import "./normalize.css";
:root{
--primary-black: #272727;
--primary-light-black: #383838;
--light-grey: #737373;
--primary-red: #e21e2d;
--primary-red-hover: #a6000d;
--primary-orange: #f66400;
--primary-orange-hover: #9c3f00;
--primary-blue: #1564cb;
--primary-blue-hover: #004094;
--dark-red: #ae060c;
--dark-red-hover: #660206;
--light-background-color-hover: #dee0e3;
--light-green-background-color: #d3f9d8;
--light-blue-background-color: #d3e3f9;
--light-background-color: #ededed;
--light-font-color: #858b93;
--border-color: #495057;
--body-max-width: 1000px;
--font-color: #495057;
--heading-color: #343a40;
--red-bottom-border-color: #d69498;
--red-bottom-border-color-hover: #d4444c;
--code-background-color: #f1f4f8;
--blockquote-background-color: #fff0f1;
--primary-orange-hv: #fb8332;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/*  Typography */

::selection{
    background: var(--primary-blue);
    color: #fff;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    font-family: Open Sans,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 2rem;
    line-height: 1.45;
    color: var(--font-color);
  }

h1,h2,h3 {
    color: var(--heading-color);
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: bold;
}

h3 {
    font-size: 2.5rem;
    line-height: 2.6rem;
    letter-spacing: -0.4px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 2.2rem;
    }
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2.8rem;
    }
  }



/*  Navigation */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    font-size: 1.5rem;
    padding: 3rem 2.5rem 0;
}

.hn-courses-left-arrow{
    transform: rotate(180deg);
}

.hn-courses-left-arrow,
.hn-courses-right-arrow {
    max-width: 16px;
}

.nav a {
    color: var(--heading-color);
}

.nav a svg{
    vertical-align: middle;
}

.nav a:hover,
.nav a:hover .hn-courses-left-arrow,
.nav a:hover .hn-courses-right-arrow {
    color: var(--light-font-color);
}

.nav a:hover .hn-courses-left-arrow {
    transform: translateX(-1px);

}

.nav a:hover .hn-courses-right-arrow{
    transform: translateX(1px);

}


/* button styles */
.btn {
    width: 17.5rem;
    padding: 2.2rem 0;
    letter-spacing: 0.2px;
    line-height: 1.25;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 300;
}

.btn-primary {
    background-color: #fa6400;
    color:#fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    transition: all .25s ease;
}

.btn-primary:hover {
    background-color: var(--primary-orange-hv);
    color:#fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.btn-white {
    background-color: #fff;
    color:var(--heading-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    transition: all .25s ease;
}

.btn-white:hover {
    border-color: rgba(0, 0, 0, 0.15);
    color:rgba(0, 0, 0, 0.65);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.hero {
    text-align: center;
    background-color: #f9f9f9;
    background-image: url(/images/top-mono.svg);
    background-position: top,top;
    background-repeat: no-repeat, repeat-x;
}

.hero__content {
padding: 10rem 2.5rem;
}

.hero__logo {
    max-height: 73px;
    display: flex;
}

.hero__image {
    width: 100%;
}

.hero__heading {
    padding: 3rem 0rem;
}

.hero .btn {
    margin: 0 10px;
}