<ul class="list">
  <li class="list-item">
    <dl>
      <dt>Existing React.js Developers</dt>
      <dd>
        Apply your existing skills to build a full-stack application alongside
        Node.js & MongoDB.
      </dd>
    </dl>
  </li>
  <li class="list-item">
    <dl>
      <dt>Existing React.js Developers</dt>
      <dd>
        Apply your existing skills to build a full-stack application alongside
        Node.js & MongoDB.
      </dd>
    </dl>
  </li>
  <li class="list-item">
    <dl>
      <dt>Existing React.js Developers</dt>
      <dd>
        Apply your existing skills to build a full-stack application alongside
        Node.js & MongoDB.
      </dd>
    </dl>
  </li>
  <li class="list-item">
    <dl>
      <dt>Existing React.js Developers</dt>
      <dd>
        Apply your existing skills to build a full-stack application alongside
        Node.js & MongoDB.
      </dd>
    </dl>
  </li>
</ul>
