<div class="nav">
  <a href="/courses">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      stroke="#000"
      class="hn-courses-left-arrow"
    >
      <polyline
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        points="6.25 3.75 10.5 8 6.25 12.25"
      ></polyline>
    </svg>

    Course Catalog</a
  >

  <a href="https://crfcourses.com/account"
    >My Account

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      stroke="#000"
      class="hn-courses-right-arrow"
    >
      <polyline
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        points="6.25 3.75 10.5 8 6.25 12.25"
      ></polyline>
    </svg>
  </a>
</div>
