<div class="container panel">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">These Kinds Of People</h3>
      <img class="card-title-image" src="/images/persons-64x64.png" alt="" />
    </div>
    <div class="card-body">
      <ul class="list">
        <li class="list-item">
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li class="list-item">
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li class="list-item">
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li class="list-item">
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">With These Skills</h3>
      <img
        class="card-title-image"
        src="/images/code-editor-64x64.png"
        alt=""
      />
    </div>
    <div class="card-body">
      <ul class="list">
        <li>
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Existing React.js Developers</dt>
            <dd>
              Apply your existing skills to build a full-stack application
              alongside Node.js & MongoDB.
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
