<section class="container details">
  <div class="course-summary">
    <div class="course-summary__content">
      <h2 class="course-summary__content__title">What Will You Build ?</h2>
      <p>
        Together we'll build and deploy a full-stack, production-ready clone of
        Hacker News. The application will contain a website, REST API, & MongoDB
        database, and will include all the features of the famous Hacker News
        website.
      </p>
      <button class="btn btn-primary">View Demo</button>
    </div>
    <div class="course-summary__image">
      <img class="demo-image" src="/images/demo.png" alt="demo-image" />
    </div>
  </div>
  <div class="course-topics">
    <div class="course-topics__item">
      <img class="media-image" src="/images/code-editor-64x64.png" alt="logo" />
      <div class="media-content">
        <h3 class="title">Build With the MERN Stack</h3>
        <p>
          Create a full-stack application using a MongoDB database, Express.js
          REST API, React.js website, and Node.js web server. MERN is one of the
          most widely used stacks by today's developers.
        </p>
      </div>
    </div>
    <div class="course-topics__item">
      <img class="media-image" src="/images/persons-64x64.png" alt="logo" />
      <div class="media-content">
        <h3 class="title">User Authentication</h3>
        <p>
          Create new users, login, authentication, logout, reset a user's
          password in the scenario that it has been forgotten, display and
          update a user's account information, and allow users to change their
          password.
        </p>
      </div>
    </div>
    <div class="course-topics__item">
      <img
        class="media-image"
        src="/images/folder-persons-64x64.png"
        alt="logo"
      />
      <div class="media-content">
        <h3 class="title">Handle User Submitted Data</h3>
        <p>
          Build the functionality for users to submit, edit, and delete news
          stories and comments. This includes upvotes, downvotes, favorites, and
          much more related to user-submitted data.
        </p>
      </div>
    </div>
    <div class="course-topics__item">
      <img
        class="media-image"
        src="/images/document-glasses-64x64.png"
        alt="logo"
      />
      <div class="media-content">
        <h3 class="title">Search Functionality</h3>
        <p>
          Build a real-time full-text search of the items and comments submitted
          to the database using the Algolia instant search engine.
        </p>
      </div>
    </div>
    <div class="course-topics__item">
      <img class="media-image" src="/images/user-gear-64x64.png" alt="logo" />
      <div class="media-content">
        <h3 class="title">Moderator Functionality</h3>
        <p>
          Moderators will be given special privileges to kill items and comments
          along with shadow and outright user bans. These features will give a
          moderator good control over the content displayed on the site.
        </p>
      </div>
    </div>
    <div class="course-topics__item">
      <img class="media-image" src="/images/globe-64x64.png" alt="logo" />
      <div class="media-content">
        <h3 class="title">Deploy To Production</h3>
        <p>
          Deploy the application to a DigitalOcean server in the cloud. We'll
          configure your custom domain name and serve the application over
          HTTPS. Search engine indexing and Google Analytics will also be
          configured.
        </p>
      </div>
    </div>
  </div>
</section>
