<section class="container used-tech">
  <p>Lorem ipsum dolor sit.</p>
  <div class="used-tech__images">
    <div class="react">
      <img src="/images/react.svg" alt="logo" />
    </div>
    <div class="nodejs">
      <img src="/images/nodejs.svg" alt="logo" />
    </div>
    <div class="nextjs">
      <img src="/images/nextjs.svg" alt="logo" />
    </div>
    <div class="css3">
      <img src="/images/css.svg" alt="logo" />
    </div>
    <div class="mongodb">
      <img src="/images/mongodb.svg" alt="logo" />
    </div>
    <div class="algolia">
      <img src="/images/algolia.svg" alt="logo" />
    </div>
  </div>
</section>
